@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font: normal 16px/1.5 sans-serif;
}

img,
svg,
iframe {
    vertical-align: top;
    display: inline-block;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
